Here are all the users:
<ul>
<% users.forEach( (user) => { %>
<% if (!user.banned) { %>
    <li><b>User:</b> <%= user.alias %>  
    <br><b>Status:</b> normal   
    <a href="/ban_user?alias=<%= user.alias %>" >
    <button> ban</button></a></li>
<% } else { %>
    <li><b>User:</b> <%= user.alias %>  
        <br><b>Status:</b> banned   
    <a href="/unban_user?alias=<%= user.alias %>" >
    <button> unban</button></a></li>
<% } %>
<br>
<% }); %>
</ul>
