
<ul>
    <li> 
    <a href="/users" >
    <button> Ban Users</button></a></li>
    <br>
    <li> 
        <a href="/getFeedback" >
        <button> See Feedbacks</button></a></li>
        <br>
</ul>
